html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body {
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  background-color: #000000;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}